<div align="center" class="profile-card module">
	<div class="profile-header">
	    <div>
	      <%= profile.fullname %><small> @<%= profile.username %></small>
	    </div>
    </div>
    <div class="account-stats">
    	<table border="1" cellspacing=0>
			<tr>
			<td id="members_tab"><%= members.length %> Members</td>
			</tr>
		</table>
		<div style="padding-top: 5px;">
			<% if(isMember == false) {%>
				<button class="join_btn" id="join_button<%= group.id %>"type="button" onclick="Groups.join_group(<%= group.id %>, '<%= user.username %>')">Join</button>
			<% } else { %>
				<button class="join_btn" id="join_button<%= group.id %>"type="button" disabled="true">Joined</button>
			<% } %>
		</div>
	</div>
</div>