<div class="module mini-profile ">
	<div class="account-summary">
		<a href="/<%= user.username %>">
	        <div class="fullname">
	          <%= user.fullname %><small> @<%= user.username %></small>
	        </div>
	        <small class="mention">
	          Visit my profile page
	        </small>
      	</a>
    </div>
    <div class="account-stats">
    	<table border="1" cellspacing=0>
			<tr>
			<td id="curr_tweet_count"><%= num_tweets %> tweets</td>
			<td><%= following.length %> following</td>
			<td><%= followers.length %> followers</td>
			</tr>
		</table>
	</div>
	<div class="tweet-box">
		<textarea id="message" maxlength="140" wrap="physical" cols="25" rows="6" class="tweet-input" placeholder="Compose new Tweet" name="message"></textarea>
		</br>
		<input type="hidden" name="username" value="<%= user.username %>">
		<input onclick="Tweets.post_tweet('<%= user.username %>')" class="tweet-button" id="tweet_publish" type="submit" value="Tweet">
	</div>
</div>
