<div align="center" class="profile-card module">
	<div class="profile-header">
	    <div>
	      <%= profile.fullname %><small> @<%= profile.username %></small>
	    </div>
    </div>
    <div class="account-stats">
    	<table border="1" cellspacing=0>
			<tr>
			<td><%= num_tweets %> tweets</td>
			<td><%= following.length %> following</td>
			<td id="followers_tab"><%= followers.length %> followers</td>
			</tr>
		</table>
		<div>
			<input id="follow_btn" onclick="Profile.follow_user('<%= user.username %>', '<%= profile.username %>');" type="submit" value="Follow" />
		</div>
	</div>
</div>