<div class="timeline module">
    <div class="tweet-header">
    	<% if(typeof(timeline_header) != "undefined") {%>
    		<%= timeline_header %>
    	<% } else { %>
    		Tweets
    	<% } %>
    </div>
    <ul id="tweet-list">
	<% for(var i=tweets.length-1; i>=0; i--) {%>
	  	<li>
	  		<div class="tweet">
		   		<a href="/<%= tweets[i].owner %>">
		   			<div class="owner">
		   				<%= tweets[i].userdata.fullname %><small> @<%= tweets[i].owner %></small>
		   			</div>
		   		</a>
		   		<%- tweets[i].html %>
		   	</div>
	   	</li>
	<% } %>
	</ul>
 </div>